<div class="app-body" >
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form  >
                  <p class="text-muted">Assign User Role</p>
                  <div class="input-group mb-3">
                    <label class="col-md-3 col-form-label" for="select3">User Name</label>
                    <div class="col-md-9">
                      <select name="UserId" disabled class="form-control"
                      [(ngModel)]="objuserrole.UserId">
                    <option *ngFor="let user of lstuser"
                    [value]="user.UserId">{{user.UserName}}</option>
                    </select>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <label class="col-md-3 col-form-label" for="select3">Role Name</label>
                    <div class="col-md-9">
                      <select name="RoleId" disabled class="form-control"
                      [(ngModel)]="objuserrole.RoleId">
                    <option *ngFor="let role of lstrole"
                    [value]="role.RoleId">{{role.RoleName}}</option>
                    </select>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <label class="col-md-3 col-form-label" for="select3">Status</label>
                    <div class="col-md-9">
                      <select name="Status" disabled class="form-control"
                      [(ngModel)]="objuserrole.Status">
                    <option *ngFor="let status of lstStatus"
                    [value]="status.key">{{status.value}}</option>
                    </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button"  class="btn btn-success px-4" (click)="DeleteUserRole()">Delete</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" [routerLink]="['/UserRole/View']" class="btn btn-danger px-4">Back</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>