<table class="table table-responsive-sm table-hover table-outline mb-0">
 
    <thead class="thead-light">
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-success" routerLink="/User/AddUser"style="margin-bottom: 10px;"><i class="icon-user-follow"> Add User</i></button>
      </div>
      <tr>
        <th class="text-center"><i class="icon-people"></i></th>
        <th class="text-center">User Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">MobileNo</th>
        <th class="text-center">Age</th>
        <th class="text-center">UserType</th>
        <th class="text-center">Status</th>
        <th class="text-center">Edit</th>
        <th class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of lstuser">
        <td class="text-center">
          <div class="avatar">
            <img src="{{user.Image}}" class="img-avatar" alt="admin@bootstrapmaster.com">
            <span class="avatar-status badge-success"></span>
          </div>
        </td>
        <td class="text-center">
          <div>{{user.UserName}}</div>
          
        </td>
        <td class="text-center">
          {{user.Email}}
        </td>
        <td class="text-center">
            {{user.MobileNo}}
        </td>
        <td class="text-center">
            {{user.Age}}
        </td>
        <td class="text-center"><span class="btn-default" *ngIf="user.UserType===1">  Admin</span>
            <span class="btn-default" *ngIf="user.UserType===2">  Moderator</span>
       </td> 
        <td class="text-center"><span class="btn-success" *ngIf="user.Status===1"> <i class="fa fa-check" aria-hidden="true"></i> Active</span>
            <span class="btn-danger" *ngIf="user.Status===2"> <i class="fa fa-times" aria-hidden="true"></i> Deactived</span>
        </td>

        <td class="text-center"> <a class="btn btn-primary" routerLink="../{{ user.UserId }}/edit"><i class="icon-note"></i></a></td>
        <td class="text-center"> <a class="btn btn-danger" routerLink="../{{ user.UserId }}/delete"><i class="icon-close"></i></a></td>


      </tr>
      
    </tbody>
  </table>
