<div class="app-body" >
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form  #f="ngForm" novalidate>
                  <h1>Brand For Product</h1>
                  <p class="text-muted">Please Provide the Information for Update</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Image</span>
                    </div>
                    <div class="card-container">
                      <input type="file" id="FUImage" name="FUImage" accept=".png, .jpg, .jpeg" (change)="handleFileInput($event.target.files)"> 
                      <button type="button" class="btn btn-danger pull-left" (click)="btnUpload()">Upload</button> 
                    </div>
                    <div class="card-container">
                      <img src="{{ImageBaseData}}" alt="Selected Image" height="200" width="200">
                    </div>
                
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-text-height" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control"  [(ngModel)]="objbrand.BrandName" name="BrandName" placeholder="Brand Name"  #refBrandName="ngModel" id="BrandName" required>
                    <div *ngIf="!refBrandName.valid  && (refBrandName.dirty || refBrandName.touched)" class="alert alert-danger">
                      <div [hidden]="!refBrandName.errors.required">
                        Brand Name is required
                      </div>
                  </div>
                  </div>
                  <div class="input-group mb-3">
                    <label class="col-md-3 col-form-label" for="select3">Status</label>
                    <div class="col-md-9">
                      <select name="Status" class="form-control"
                      [(ngModel)]="objbrand.Status">
                    <option *ngFor="let status of lststatus"
                    [value]="status.key">{{status.value}}</option>
                    </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 ">
                      <button type="button" [routerLink]="['/Brand/ActiveBrand']" class="btn btn-primary px-4"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" [disabled]="!f.form.valid" class="btn btn-success px-4" (click)="UpdateBrand()"> Update </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
