
<div class="container-menu-desktop"style="margin-bottom: 5%;">
  <!-- Topbar -->
  <div class="top-bar">
      <div class="content-topbar flex-sb-m h-full container">
          <div class="left-top-bar">
              Free shipping for standard order over 10000 Taka
          </div>

          
      </div>
  </div>

  <div class="wrap-menu-desktop">
      <nav class="limiter-menu-desktop container">
          
          <!-- Logo desktop -->		
          <a routerLink="/Home" class="logo">
              <img src="assets/4_701381325010.jpg" alt="IMG-LOGO">
          </a>

          <!-- Menu desktop -->
          <div class="menu-desktop" >
              <ul class="main-menu" >
                  <li class="active-menu">
                      <a routerLink="/Home">Home</a>
                  </li>

                  <li>
                      <a routerLink="/Home">Product</a>
                  </li>
                  <li>
                    <a routerLink="/Home/AboutUs">AboutUs</a>
                </li>
                  <li  >
                      <a routerLink="/security/Login">SignIn</a>
                  </li>

                  

                  <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                
          
             
               
              
              
               
               

                  <li>
                    <a style="cursor: pointer;" (click)="authservice.removeToken()">Logout</a>
                </li>
              </ul>
          </div>	

       
      </nav>
  </div>	
</div>

<router-outlet></router-outlet>