<form>
    <div class="row">
    <div class="col-md-5">
      <label>Email </label>
      <input type="email"  name="Email" [(ngModel)]="objvmpass.Email" class="form-control"  autocomplete="off" required>
    </div>
    <div class="col-md-5">
        <label>OldPassword</label>
        <input type="password"  name="OldPassword" [(ngModel)]="objvmpass.OldPassword" class="form-control"  autocomplete="off" required>
    </div>
    <div class="col-md-5">
        <label>NewPassword</label>
        <input type="password"  name="NewPassword" [(ngModel)]="objvmpass.NewPassword" class="form-control"  autocomplete="off" required>
    </div>
    
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-1">
        <button aria-pressed="true" class="btn btn-pill btn-block btn-primary active" (click)="ChangePassword()" type="button">Add Meter</button>
      </div>
      <div class="col-md-5">
      </div>
    </div>
</form>
    

