<div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form #f="ngForm" novalidate>
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control"  [(ngModel)]="objLogin.Email" name="Email" placeholder="Email" autocomplete="email" #refEmail="ngModel" id="Email" required>
                  <div *ngIf="!refEmail.valid  && (refEmail.dirty || refEmail.touched)" class="alert alert-danger">
                    <div [hidden]="!refEmail.errors.required">
                            Email is required
                    </div>
                </div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" [(ngModel)]="objLogin.Password" name="Password" placeholder="Password" #refPassword="ngModel" id="Password" required>
                  <div *ngIf="!refPassword.valid  && (refPassword.dirty || refPassword.touched)" class="alert alert-danger">
                    <div [hidden]="!refPassword.errors.required">
                            Password is required
                    </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" [disabled]="!f.form.valid" class="btn btn-primary px-4" (click)="Login()">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
