
<div class="wrapper fadeInDown" style="margin-top: 150px;">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/a839fc66b571a63691e348075d869d4a.png" id="icon" alt="User Icon" />
      <h1>Medical Oxygen</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]="objLogin.Email" name="Email" class="fadeIn second"  placeholder="Email">
      <input type="text"  [(ngModel)]="objLogin.Password" name="Password" placeholder="Password" class="fadeIn third"  placeholder="Password">
      <input type="submit" (click)="Login()" class="fadeIn fourth" value="Log In">
    </form>


  </div>
</div>
