<div class="container-fluid">
	<div class="row text-center">
		<h2 style="color:rgb(0, 0, 0);font-family:verdana;">Medical Oxygen<br><a routerLink='/Product/ActiveProduct'>Our Product</a></h2>
	</div>
	<div class="row">
		<div class="cover-card col-sm-4" style="background: url(assets/Portable-Linde-Oxygen-Cylinder-Dhaka-BD-1.jpg) no-repeat center top;background-size:cover; border: 2px solid rgb(0, 0, 0);
        	
	padding: 0px;
	margin: 0px;
	height:200px;
        ">
			
		</div>
		<div class="cover-card col-sm-8" style="background: url(assets/YS-501-Medical-Oxygen-Concentrator-main.jpg) no-repeat center top;background-size:cover;
        
        border: 2px solid rgb(141, 14, 14);
	padding: 0px;
	margin: 0px;
	height:200px;">
			
		</div>
		<div class="cover-card col-sm-8" style="background: url(assets/images.jpeg) no-repeat center top;background-size:cover;
        border: 2px solid white;
	padding: 0px;
	margin: 0px;
	height:200px;
        
        ">
			
		</div>
		<div class="cover-card col-sm-3" style="background: url(assets/medical-oxygen-gas-plant-1.jpg) no-repeat center top;background-size:cover;
        border: 2px solid white;
	padding: 0px;
	margin: 0px;
	height:200px;
        ">
		</div>
		<div class="cover-card col-sm-3" style="background: url(assets/2021_4$largeimg_1694263775.jpg) no-repeat center top;background-size:cover;
        border: 2px solid white;
	padding: 0px;
	margin: 0px;
	height:200px;
        ">
			<p>
				Text Caption
			</p>
		</div>

		<div class="cover-card col-sm-3" style="background: url(assets/819_Medical_O2_Generator-with-compraser.png) no-repeat center top;background-size:cover;
        border: 2px solid white;
	padding: 0px;
	margin: 0px;
	height:200px;
        ">
		</div>
		<div class="cover-card col-sm-4" style="background: url(assets/shutterstock_1505092742-1000x500.jpg) no-repeat center top;background-size:cover;
        border: 2px solid white;
	padding: 0px;
	margin: 0px;
	height:200px;
        ">
		</div>
		
		<div class="cover-card col-sm-6" style="background: url(assets/medical_oxygen_1627614524_03c8a87d_progressive.jpg) no-repeat center top;background-size:cover;
        
        border: 2px solid white;
	padding: 0px;
	margin: 0px;
	height:200px;
        ">
			
		</div>
		<div class="cover-card col-sm-6" style="background: url(assets/Agra-ventilator-696x392.jpeg) no-repeat center top;background-size:cover;
        
        border: 2px solid white;
	padding: 0px;
	margin: 0px;
	height:200px;
        ">
			
		</div>
	</div>
</div>