<div class="app-body" >
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form  #f="ngForm" novalidate>
                  <h1>Attribute For Product</h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-text-height" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control"  [(ngModel)]="objattribute.AttributeName" name="AttributeName" placeholder="AttributeName" disabled  #refAttributeName="ngModel" id="AttributeName" required>
                    <div *ngIf="!refAttributeName.valid  && (refAttributeName.dirty || refAttributeName.touched)" class="alert alert-danger">
                      <div [hidden]="!refAttributeName.errors.required">
                        AttributeName is required
                      </div>
                  </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-text-height" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control"  [(ngModel)]="objattribute.AttributeValue" name="AttributeValue" disabled placeholder="AttributeValue"  #refAttributeValue="ngModel" id="AttributeValue" required>
                    <div *ngIf="!refAttributeValue.valid  && (refAttributeValue.dirty || refAttributeValue.touched)" class="alert alert-danger">
                      <div [hidden]="!refAttributeValue.errors.required">
                        AttributeValue is required
                      </div>
                  </div>
                  </div>
                  <div class="input-group mb-3">
                    <label class="col-md-3 col-form-label" for="select3">Status</label>
                    <div class="col-md-9">
                      <select name="Status" class="form-control" disabled
                      [(ngModel)]="objattribute.Status">
                    <option *ngFor="let status of lstStatus"
                    [value]="status.key">{{status.value}}</option>
                    </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 ">
                      <button type="button"  [routerLink]="['/Attribute/ActiveAttribute']" class="btn btn-primary px-4"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" [disabled]="!f.form.valid" class="btn btn-success px-4" (click)="DeleteAttribute()"> Delete </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
