<div class="animated fadeIn">
    <div class="col-lg-12">
      <div class="row" style="margin-bottom: 20px; margin-top: 10px;">
      </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> List Of DeActive Role
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                  <th>Role Name</th>
                  <th>Status</th>
                  <th>Action</th>
                  <th>Action</th>

              </tr>
          </thead>
          <tbody >
            <tr *ngFor="let role of lstrole">
                <td >{{role.RoleName}}</td>
                <td ><span class="btn-success" *ngIf="role.Status===1"> <i class="fa fa-check" aria-hidden="true"></i> Active</span>
                  <span class="btn-danger" *ngIf="role.Status===2"> <i class="fa fa-times" aria-hidden="true"></i> Deactived</span>
            </td>
            <td> <a class="btn btn-warning" routerLink="../{{ role.RoleId }}/edit"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></td>
            <td> <a class="btn btn-danger" routerLink="../{{ role.RoleId }}/delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>

            </tr>
          </tbody>
    
    
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
    </div>
