<div class="animated fadeIn">
    <div class="col-lg-12">
      <div class="row" style="margin-bottom: 20px; margin-top: 10px;">
        <div class="col-md-1">
            <button aria-pressed="true" class="btn btn-block btn-success active" [routerLink]="['/User/AddUser']" type="button"><i class="fa fa-plus-square" aria-hidden="true"></i> AddUser</button>
        </div>
        <div class="col-md-7">
    
        </div>
        <div class="col-md-4">
          <!-- <form class="form-inline" action="" method="POST">
              <input class="form-control" [(ngModel)]="searchuser" type="text" name="search" placeholder="Search for Information &amp; reports..." />
              <button class="btn btn-success" (click)="searchUsers()" type="submit">
                <i class="fas fa-search"></i>
              </button>
          </form> -->
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User List
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Image</th>
                  <th>User Name</th>
                  <th>Email</th>
                  <th>Mobile Number</th>
                  <th>Role Name</th>
                  <th>Status</th>
                  <th>Action</th>
                  <th>Action</th>

              </tr>
          </thead>
          <tbody >
            <tr *ngFor="let objuser of lstuser">
              <td class="text-center">
                <div class="avatar">
                  <img src="{{objuser.Image}}" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
              </td>
                <td >{{objuser.UserName}}</td>
                <td>{{objuser.Email}}</td>
                <td>{{objuser.MobileNumber}}</td>
    
                <td ><span class="btn-default" *ngIf="objuser.UserType===1">  Admin</span>
                     <span class="btn-default" *ngIf="objuser.UserType===2">  Moderator</span>
                    <span class="btn-default" *ngIf="objuser.UserType===4"> Deliveryman </span>
                     <span class="btn-default" *ngIf="objuser.UserType===3">  Customer</span>
                </td>
                <td ><span class="btn-success" *ngIf="objuser.Status===1"> <i class="fa fa-check" aria-hidden="true"></i> Active</span>
                  <span class="btn-danger" *ngIf="objuser.Status===2"> <i class="fa fa-times" aria-hidden="true"></i> Deactived</span>
            </td>
            <td> <a class="btn btn-warning" routerLink="../{{ objuser.UserId }}/edit"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></td>
            <td> <a class="btn btn-danger" routerLink="../{{ objuser.UserId }}/delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>

            </tr>
          </tbody>
    
    
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
    </div>
